<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryu.mapper.UserMapper">

    <resultMap id="BaseResult" type="com.ryu.entities.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumn">
        id, username, sex, password, email
    </sql>

    <insert id="addUser">
        insert into User (id, username, sex, password, email)
        values (id, username, sex, password, email)
    </insert>

    <select id="login" resultMap="BaseResult">
        select
        <include refid="BaseColumn" />
        from User
        where User.username = #{param1} and User.password = #{param2}
    </select>

</mapper>